html {
  font-family: "Noto Serif", serif;
  background-color: #f2f2f2;
}

form {
  background-color: #fff;
}

fieldset {
  padding-left: 0;
}

legend {
  padding-right: 1rem;
}

h1, p, footer {
  color: #fff;
  background-color: #70ad55;
}

.btn {
  color: #fff;
  background-color: #6e8c62;
  border-color: #6e8c62;
}

@media only screen and (min-width: 60em) {

  .pad-right {
    padding-right: .5rem;
  }

  .pad-left {
    padding-left: .5rem;
  }

}
