html {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
}

form {
  background-color: #fff;
}

fieldset {
  padding-left: 0;
}

legend {
  padding-right: 1rem;
}

h1 {
  border-bottom: solid 1px #000;
}

@media only screen and (min-width: 60em) {

  .pad-right {
    padding-right: .5rem;
  }

  .pad-left {
    padding-left: .5rem;
  }

}
